@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

/* RESETS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.f-small {
  font-size: 12px;
}

body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  background-color: #f7f7f7;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button,
a {
  background: rgb(42, 69, 148);
  background: linear-gradient(
    180deg,
    rgba(42, 69, 148, 1) 53%,
    rgba(65, 95, 184, 1) 92%
  );
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  color: #f6f8fc;
  font-family: Brush Script MT;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  text-shadow: 1px 1px 20px #000000;
  border: solid #2a4594 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

button:hover,
a:hover {
  border: solid #337fed 0px;
  background: #2a4594;
  background: rgb(51, 127, 237);
  background: linear-gradient(
    0deg,
    rgba(51, 127, 237, 1) 0%,
    rgba(42, 69, 148, 1) 100%
  );
  text-decoration: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
}

.grid-site-nav {
  grid-template-columns: minmax(150px, 300px) auto;
  grid-template-rows: 100vh;
  grid-template-areas: 'navigation site';
}

.grid-navigation {
  grid-area: navigation;
}

.grid-site {
  grid-area: site;
}

.list-rank-li {
  padding-left: 10px;
  box-shadow: inset black 0px 0px 5px;
  border-radius: 4pt;
  max-width: 80%;
}

.list-rank-li-fst {
  border: solid #2a4594 3px;
  border-radius: 7pt;
  background-color: #337fed;
  color: #f6f8fc;
  font-size: 25px;
  box-shadow: black 3px 3px 10px;
  box-shadow: inset black 0px 0px 10px;
}

.list-rank-li-snd {
  border: solid #337fed;
  border-radius: 7pt;
  background-color: #6098e7;
  color: #f6f8fc;
  font-size: 22px;
  box-shadow: rgb(63, 56, 56) 3px 3px 10px;
  box-shadow: inset black 0px 0px 10px;
}

.list-rank-li-trd {
  border: solid #6098e7;
  border-radius: 7pt;
  background-color: #7ca7e2;
  color: #f6f8fc;
  font-size: 20px;
  box-shadow: black 3px 3px 10px;
  box-shadow: inset black 0px 0px 10px;
}

.list-rank {
  margin-top: 25px;
  max-width: 450px;
}

.list-rank > *:not(:first-child) {
  margin-top: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4px;
}

.ranking-header {
  font-size: 25px;
}

.m-t-1 {
  margin-top: 20px;
}
.m-b-1 {
  margin-bottom: 20px;
}
.m-t-2 {
  margin-top: 10px;
}
.m-b-2 {
  margin-bottom: 10px;
}

.users-list > * {
  padding: 5px;
  border: 1px solid #337fed;
  max-width: 400px;
}

.users-list > *:first-child {
  margin-top: 6px;
}
.users-list > *:not(:last-child) {
  margin-bottom: 6px;
}

.container-center {
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.dots {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: d 1s infinite linear;
}
.book-logo {
  fill: rgb(42, 69, 148);
}
@keyframes d {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
