@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* RESETS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
}

.grid-site-nav {
  grid-template-columns: minmax(150px, 300px) auto;
  grid-template-rows: 100vh;
  grid-template-areas: 'navigation site';
}

.grid-navigation {
  grid-area: navigation;
}

.grid-site {
  grid-area: site;
}
